<!DOCTYPE html>
<html>
 
<head>
    <title>Item Collection Managemement</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
 
<body ng-app="myApp" ng-controller="ItemController">
 
    <h2>Item Collection</h2>
    <p>Total number of items: {{ items.length }}</p>
    <ul>
        <li ng-repeat="item in items">
            {{ item.name }}
            <button ng-click="removeItem(item)">Remove</button>
        </li>
    </ul>
 
    <div>
        <label>New Item: </label>
        <input type="text" ng-model="newItemName">
        <button ng-click="addItem()">Add Item</button>
    </div>
 
    <script src="prog10.js"></script>
 
</body>
 
</html>
